nav {
    height: 10vh;
    margin-top: 0;
}

.nav-links {
    display: flex;
    float: right;
    margin-right: 10vw;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-top: 0;
    height: 10vh;
    text-decoration: none;
    list-style: none;
}

.navbar-main {
    display: flex;
    justify-content: space-around;
}

.social-links {
    display: grid;
    width: 10%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.social-icon:hover {
    transform: scale(1.1);
}

.session-heading {
    color: white;
    font-size: 2em;
    font-weight: 700;
    animation: changeSize 1s linear 1s infinite alternate;
}

.social-icon {
    width: 50%;
}

@keyframes changeSize {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 1024px) {
    .session-heading {
        left: 12vw;
        top: 1.5vh;
        font-size: 3em;
    }

    .social-links {
        width: 20%;
    }

    .social-icon {
        width: 50%;
    }
}