@for $sheetCoverPos from 0 to 10 {
    .sheet-cover#{$sheetCoverPos} {
        align-items: center;
        transform-style: preserve-3d;
        position: absolute;
        margin-left: 25vw;
        margin-top: 15vh;
        width: 17vw;
        height: 40vh;
        transform-origin: left center;
        transform: rotateY(0deg);
        transition: transform .1s;
    }
}

.sheetCover5 {
    backface-visibility: hidden;
}

.drag-button {
    position: fixed;
    width: 7vw;
    margin-left: 35vw;
    margin-top: 40vh;
    height: 13vh;
    z-index: 2;
    opacity: 0;
}


.sheet-cover-close {
    transform: rotateY(0deg);
    animation-name: sheetClose;
    animation-duration: 2s;
}


@keyframes sheetClose {
    0% {
    }
    100% {
        transform: rotateY(0deg);
    }
}

.next-page-number {
    position: relative;
    top: 75%;
    left: 10%;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.page-number {
    @extend .next-page-number;
    left: -10% !important;
    // Since the number on the left of the page will be displayed backwards,
    // rotate it
    transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
}


@media only screen and (max-width: 1024px) {
    @for $sheetCoverPos from 0 to 10 {
        .sheet-cover#{$sheetCoverPos} {
            width: 40vw;
            margin-left: 50vw;
            height: 30vh;
            margin-top: 10vh;
        }
    }


    .drag-button {
        width: 25vw;
        margin-left: 65vw;
        margin-top: 27vh;
    }

}