@import "../out/out.scss";

.enterCode-div {
    @extend .out-div;
}

.remove-enterCode-div {
    @extend .remove-out-div;
}

.display-enterCode {
    @extend .display-out;
    justify-content: space-around !important;
}

.enterCode-text {
    @extend .out-text;
}

.Enter-game-button {
    @extend .exit-button;
}

.Enter-game-button:hover {
    @extend .exit-button:hover;
}

.code-text-input {
    height: 10% ;
    font-size: 2em;
    text-align: center;
}

@media only screen and (max-width: 1024px) {

    .enterCode-text {
        font-size: 1.4em;
    }

    .code-text-input {
        width: 60%;
    }
}