@import "../out/out.scss";

.enterCode-div {
    @extend .out-div;
}

.remove-enterCode-div {
    @extend .remove-out-div;
}

.display-enterCode {
    @extend .display-out;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-around !important;
    box-shadow: 3px 3px 10px 3px black;
    width: 40vw;
    height: 40vh;
}

.enterCode-text {
    @extend .out-text;
}

.Enter-game-button {
    @extend .exit-button;
}

.Enter-game-button:hover {
    @extend .exit-button:hover;
}

.code-text-input {
    font-size: 2em;
    text-align: center;
}

.share-code-button {
    width: 85%;
    background-color: rgba(70, 70, 70, 1);
    border: none;
    color: white;
    display: grid;
    grid-template-columns: 0.725fr 1fr 0.5fr;
    font-size: 2.5em;
    justify-content: space-around;
    align-items: center;
}

.enter-code-main-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.clipboard-image {
    width: 60%; 
    filter: invert(100%);
}

.clipboard-button {
    transform: scale(0.8);
    border-radius: 10%;
    margin-right: 20%;
    border: 0;
    opacity: 70%;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(44, 43, 43);
    box-shadow: 3px 3px 10px 3px black;
}

.clipboard-button:hover {
    transform: scale(0.9);
}

.code-val-text {
    color:#50C878;
    border: none;
    text-align: center;
    font-size: 2rem;
    width: 90%;
    font-weight: 600;
    padding: 0%;
    background-color: rgba(70, 70, 70, 1);
}

.code-share-div {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-left: 1%;
    height: 80%;
}

.share-code-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
}

.enter-share-code {
    height: 100%;
    background-color: #50C878;
    font-size: 0.8em;
}

@media only screen and (max-width: 1024px) {

    .enterCode-div {
        z-index: 5;
    }

    .display-enterCode {
       height: 25%;
       width: 80%;
    }

    .enterCode-text {
        font-size: 4em;
    }

    .enter-code-main-div {
        height: 15%;
    }

    .code-val-text {
        color:#50C878;
    }

    .clipboard-image {
        float: right;
    }

    .clipboard-image {
        width: 100%;
        filter: invert(100%);
    }
}